<div class="side-menu sidebar-inverse" *ngIf="user">
    <nav class="navbar navbar-default" role="navigation">
        <div class="side-menu-container">
            <div class="navbar-header">
                <a class="navbar-brand" [routerLink]="['Home']">
                    <div class="icon fa fa-tachometer"></div>
                    <div class="title">Happner UI</div>
                </a>
                <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                    <i class="fa fa-times icon"></i>
                </button>
            </div>
            <ul class="nav navbar-nav">
                <li class="panel panel-default dropdown">
                    <a data-toggle="collapse" href="#ux_customers">
                        <span class="icon fa fa-user"></span><span class="title">Customers</span>
                    </a>
                    <!-- Dropdown level 1 -->
                    <div id="ux_customers" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                <li><a  [routerLink]="['NewCustomer']">new</a>
                                </li>
                                <li><a [routerLink]="['SearchCustomer']">search</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="panel panel-default dropdown">
                    <a data-toggle="collapse" href="#ux_security">
                        <span class="icon fa fa-users"></span><span class="title">Security</span>
                    </a>
                    <!-- Dropdown level 1 -->
                    <div id="ux_security" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                <li><a href="/#/data/User/edit/new">new user</a>
                                </li>
                                <li><a href="/#/data/User/search">search users</a>
                                </li>
                                <li><a href="/#/data/Group/edit/new">new group</a>
                                </li>
                                <li><a href="/#/data/Group/search">search groups</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="panel panel-default dropdown">
                    <a data-toggle="collapse" href="#ux_data">
                        <span class="icon fa fa-database"></span><span class="title">Data</span>
                    </a>
                    <!-- Dropdown level 1 -->
                    <div id="ux_data" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                <li><a href="/#/schema/search">schemas</a>
                                </li>
                                <li><a href="/#/schema/edit/new">new schema</a>
                                </li>
                                <li><a href="/#/data/app_schema/search">app schemas</a>
                                </li>
                                <li><a href="/#/data/app_schema/edit/new">new app schema</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</div>