<div class="card side-body padding-top" ng-controller="DataSchemaListController">

    <div class="row actionbar-affix">
        <div class="col-lg-12">
            <div class="card yellow">
                <div class="card-header">
                    <div class="card-title">
                    </div>
                    <div class="card-body pull-right">
                        <input class="uploadFile" type="file" id="uploadFile" name="uploadFile"/>
                        <label for="uploadFile" class="btn btn-primary">Import a schema</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row bump-down">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="card-body">
                <div class="card-header">
                    <input type="text" ng-model="searchCriteria" class="form-control"
                           placeholder="Search by name or id...">
                </div>
                <div class="card-body">
                    <span ng-show="data.rows.length == 0">no data</span>
                    <table ng-show="data.rows.length > 0" class="datatable table table-striped" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th ng-repeat="header in data.headers">{{header}}</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th ng-repeat="header in data.headers">{{header}}</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr ng-repeat="row in data.rows | filter: filterFunction">
                            <td ng-repeat="column in row.columns track by $index">{{column}}</td>
                            <td>
                                <div class="pull-right">
                                    <a href="#" ng-click="editSelected(row)">edit</a>&nbsp;|
                                    <a href="#" ng-click="deleteSelected(row)">delete</a>&nbsp;|
                                    <a href="#" ng-click="exportSelected(row)">export</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>

</div>